* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ==== PAGES ==== */

/* ==== COMPONENTS ==== */

/* Map */
.map-wrapper {
	height: 100vh;
	width: 100%;
}

.leaflet-map {
	height: 100%;
	width: 100%;
}

/* Popup */
.popup-heading {
	font-size: 1.5em;
}